<h1>Content-based Filtering</h1>

In [2]:
import pandas

movies = pandas.read_csv('movies_small.csv', sep=';')

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words="english")

movies["overview"] = movies["overview"].fillna("")

tfidf_matrix = tfidf.fit_transform(movies["overview"])

In [10]:
pandas.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

,26,abducted,accuser,adventure,adventures,assumes,attorney,awesomeness,bane,barsoom,...,terrorist,threats,toretto,transported,villainous,wanted,war,weary,world,years
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.333333,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.190097,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.155883,0.000000
2,0.237761,0.237761,0.237761,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.237761,0.000000,0.000000,0.000000,0.389934
3,0.000000,0.000000,0.000000,0.000000,0.270444,0.00000,0.000000,0.270444,0.00000,0.000000,...,0.00000,0.270444,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.13565,0.271301,0.000000,0.13565,0.000000,...,0.13565,0.000000,0.000000,0.000000,0.13565,0.000000,0.000000,0.000000,0.000000,0.111235
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.353458,...,0.00000,0.000000,0.000000,0.176729,0.00000,0.000000,0.176729,0.176729,0.144920,0.000000

In [16]:
# Similarity matrix

from sklearn.metrics.pairwise import linear_kernel

similarity_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)
# similarity_matrix[1] - finds similarities for a specific movie

array([0.        , 1.        , 0.        , 0.        , 0.        ,
       0.02259057])

In [47]:
def similar_movies(movie_title, nr_movies):
    # Index of a movie title
    idx = movies.loc[movies["title"]==movie_title].index[0]

    scores = list(enumerate(similarity_matrix[idx]))
    
    scores_sorted = sorted(scores, key=lambda x:x[1],reverse=True)

    movies_indices = [tpl[0] for tpl in scores_sorted[1:nr_movies+1]]

    similar_titles =list(movies["title"].iloc[movies_indices])
    return similar_titles

In [48]:
similar_movies('Kung Fu Panda 3', 3)

['John Carter', 'Furious 7', 'Cars 2']